
body
 {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color:#1f2937; 
}

.elements {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 20px 200px;
}
.header-logo {
  background-color: white;
  display: inline-block;
  padding: 0;
}

.links {
  display: flex;
  gap: 20px
}

a {
  font-size: 18px;
  color: #e5e7eb;
  text-decoration: none;
}

.main-text {
  font-size: 48px;
  color: #f9faf8; 
  font-weight: 900;
  margin: 0;
}
.secondary-text {
   font-size: 18px;
  color: #e5e7eb;
  margin: 0;
}

button {
  background-color: #3882f6;
  color: white;
  padding: 10px;
  margin: 15px;
  font-weight: 300;
  border-radius: 20px;
}

.hero {
  display: flex;
  flex: 1;
  margin: 0;
  padding: 0 200px;
  justify-content: space-between;
  align-items: center;

}

.text-hero {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 700px;

}

.hero-img {
  display: flex;
  width: 100px;
  padding-right: 200px;

}

.hero-img img {
  width: 300px;
  height: auto;
}
h2 {
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
}

.quote {
  background-color: #e5e7eb;
  font-size: 36px;
  color: #1f2937;
  font-weight: 300;
  font-style: italic;
}
.action {
  background-color: #3882f6;
}

footer {
  background-color:#1f2937; 
  color: white;
}
