
body
 {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color:#1f2937; 
}

.elements {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 20px 10%;
}

.header-logo {
  background-color: white;
  display: inline-block;
  padding: 0;
}

.links {
  display: flex;
  gap: 20px
}

a {
  font-size: 18px;
  color: #e5e7eb;
  text-decoration: none;
}

.main-text {
  font-size: 48px;
  color: #f9faf8; 
  font-weight: 900;
  margin: 0;
}

h1 {
  margin: 0;
}

.secondary-text {
   font-size: 18px;
  color: #e5e7eb;
  margin: 0;
}

button {
  background-color: #3882f6;
  color: white;
  padding: 10px;
  margin: 15px;
  font-weight: 800;
  border-radius: 20px;
  border: 2px solid white;
}

.hero {
  display: flex;
  flex: 1;
  margin: 0;
  padding: 0 10%;
  justify-content: space-between;
  align-items: center;
}

.text-hero {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 700px;
  margin: 0;
}

.hero-img {
  display: flex;
}

.hero-img img {
  max-width: 300px;
  width: 100%;
  height: auto;
  margin: 30px;
}

.information {
  padding: 5% 10%;
  text-align: center;
}

.cards {
  display: flex;
  align-items: stretch; /* même hauteur pour toutes les cards */
  justify-content: center; /* centre le bloc horizontalement  */
  gap: 40px;
  margin-top: 40px;
  flex-wrap: nowrap; /* toutes sur une ligne */
}

.cards img {
  width: 100%;
  max-width: 100%;/* empêche le débordement sur mobile */
  height: auto;
  border-radius: 5px;
  border: 2px solid #3882f6; 
  display: block; /* évite l'espcace blanc en bas de l'image */
}

.cards > div {  /* selecteur enfant direct, donc ici cible les enfants de cards mais pas leurs enfants à eux */
  display: flex;
  flex-direction: column;
  align-items: center; /* centre image + texte horizontalement */
  gap: 12px; 
  width: 220px; /*largeur fixe de la card*/
  padding: 16px;
  box-sizing: border-box;
}

h2 {
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
  text-align: center;
}

.quote {
  background-color: #e5e7eb;
  font-size: 36px;
  color: #1f2937;
  display: flex;
  flex-direction: column;
  padding: 70px 20%;
  margin: 60px auto;
}

.quote-text {
  font-style: italic;
  font-weight: 300;
  text-align: center;
}

.author {
  font-weight: 900;
  align-self: flex-end;
  margin-top: 10px;
  padding-right: 120px;
}

.action {
  background-color: #3882f6;
  color: white;
  text-align: center;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  margin: 5% 20%;
  padding: 20px; 
}

.action-sub {
  text-align: start;
}

.action-title {
  font-weight: 900;
}

footer {
  background-color:#1f2937; 
  color: white;
  text-align: center;
  padding: 20px;
}
